<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KompasCeilingMini.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <KompasCeilingMini.Properties.Settings>
            <setting name="position_x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="position_y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZkzLastNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bsConn" serializeAs="String">
                <value />
            </setting>
            <setting name="lastDate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="stg_text_size" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EasyCeilingConnectionString" serializeAs="String">
                <value>Data Source=(localdb)\MSSQLLocalDB; Integrated Security=true; AttachDbFilename=|DataDirectory|\DefaultValue.mdf</value>
            </setting>
            <setting name="stg_closelast_check" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="stg_closelast_val" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="stg_frw_check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="stg_jpg_check" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="stg_crm_check" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeadText" serializeAs="String">
                <value>{Date} {Time}

Заказ №{Number} {Suffix}
{Comment1}

&lt;loop&gt;{factura} ({color}) &lt;b&gt;пог.={lenth}&lt;/b&gt;&lt;/loop&gt;
S={Sqare} P={Perimetr} Вырез={cut}</value>
            </setting>
            <setting name="NameFileText" serializeAs="String">
                <value>{Number} S({Sqare}) {Comment1}</value>
            </setting>
            <setting name="variable_suffix" serializeAs="String">
                <value />
            </setting>
            <setting name="stg_crd_dopusk" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="stg_text_auto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BlueAddres" serializeAs="String">
                <value />
            </setting>
            <setting name="stg_work_folders" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="stg_end_folder" serializeAs="String">
                <value />
            </setting>
            <setting name="stg_size_auto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="stg_dopuskUsadka" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="stg_compensation_val" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="stg_compensation_index" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="head_resize" serializeAs="String">
                <value>False</value>
            </setting>
        </KompasCeilingMini.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
