<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KompasCeilingMini.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <KompasCeilingMini.Properties.Settings>
            <setting name="WorkFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="psX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="psY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZkzLastNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bsConn" serializeAs="String">
                <value />
            </setting>
            <setting name="lastDate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SetSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EasyCeilingConnectionString" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DefaultValue.mdf;Integrated Security=True</value>
            </setting>
            <setting name="CloseLast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseLastVal" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="frwCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="jpgCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="crmCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeadText" serializeAs="String">
                <value>{Date} {Time}</value>
            </setting>
            <setting name="NameFileText" serializeAs="String">
                <value>{Number} {Suffix}</value>
            </setting>
            <setting name="sufix" serializeAs="String">
                <value />
            </setting>
            <setting name="CoordDopusk" serializeAs="String">
                <value>50</value>
            </setting>
        </KompasCeilingMini.Properties.Settings>
    </userSettings>
</configuration>
